*{
    font-family: proxima-nova,Helvetica,sans-serif;
}

.title{
    text-align: center;
    padding: 1%;
}
p {
    margin-bottom: 10px;
  }
.list ul li{
    font-size: 18px;
    position: relative;
    list-style-type: disc;
    padding-left: 20px;
}

.container{
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 5% 1%;
    box-sizing: border-box;
    border-radius: 25px;
  }
section.blog{
    background-image: url('../svg/blob-scene-haikei.svg');
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}
  
  .inf{
    background: #47484e;
    color: white;
    display: inline-block;
    text-align: left;
    line-height: 1.6;
    border-style: hidden;
    padding: 8%;
  }


.poster{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 330px;
    height: 330px;
    
}

.greenbtn{
    text-align: center;
}
.greenbutton {
    background: #47484e;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.greenbutton:hover {
    background-color: #4CAF50;
    color: white;
  }